/* SETUP */

@import url('basics/setup/vars.css');


/* BASICS */

@import url('basics/base.css');
@import url('basics/helpers.css');
@import url('basics/layout.css');

/* COMPONENTS */
@import url('basics/components/main-header.css');
@import url('basics/components/footer.css');
@import url('basics/components/main-logo.css');
@import url('basics/components/main-nav.css');
@import url('basics/components/search-section.css');
@import url('basics/components/result-section.css');



/* MG */
@import url('basics/setup/mq.css');
