.result{
    justify-content: space-around;
    padding: 15px;
}


/* LEFT COLUMN – VIDEO LIST */
/* search-result */
.search-result {
    gap: 15px;
}

.video-card{
    background-color: var(--clr-primary-4);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    gap: 10px;

    h3{
        color: var(--clr-primary-3);
    }

    img{
        border-radius: 8px;
        width: 120px;
        height: 70px;
        object-fit: cover;
    }
}

.video-card:hover{
    box-shadow: 0 4px 8px var(--clr-primary-2);
    cursor: pointer;
}

/* RIGHT COLUMN – SELECTED VIDEO */

/* video selected */

.videos-selected {
    gap: 20px;
    flex: 1;
}

.video-player{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: var(--clr-primary-4);

    h2{
        color: var(--clr-primary-3);
    }
}

.video-player iframe,
.video-player img {
    width: 100%;
    border-radius: 8px;
}

.video-info{
    margin-top: 10px;
    color: var(--clr-primary-3);
}