.result{
    justify-content: space-around;
    padding: 15px;
}


/* search-result */

.video-card{
    background-color: var(--clr-primary-4);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    gap: 10px;

    h3{
        color: var(--clr-primary-3);
    }

    img{
        border-radius: 8px;
        width: 100%;
        height: auto;
    }
}

.video-card:hover{
    box-shadow: 0 4px 8px var(--clr-primary-2);
    cursor: pointer;
}

/* video selected */

.video-player{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: var(--clr-primary-4);

    h2{
        color: var(--clr-primary-3);
    }
}

.video-info{
    margin-top: 10px;
    color: var(--clr-primary-3);
}